<%= stylesheet_link_tag 'sessions' %>

<h1>Log In</h1>
<%= form_tag sessions_path do %>
  <div class="field">
    <p class="label"><%= label_tag :email %></p>
    <%= text_field_tag :email, params[:email], class: "input" %>
  </div><br>
  <div class="field">
    <p class="label"><%= label_tag :password %></p>
    <%= password_field_tag 'password', nil, class: 'input' %>
  </div>
<br>
<div class="button">
<%= submit_tag("Log In", :class => "btn btn-danger" ) %>
</div>

<% end %>

