<h1>All entries</h1>
 
<table id="all-entries">
 
  <% @entries.each do |entry| %>
    <tr>
      <td><%= entry.created_at.strftime("%b %d, %Y") %></td>
      <td><%= entry.body.truncate(23,separator: /\s/) %></td>
      <td><%= link_to 'View', entry_path(entry) %> | 
      <%= link_to 'Edit', edit_entry_path(entry) %> | 
      <%= link_to 'Delete', entry_path(entry),
              method: :delete,
              data: { confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>
