<%= stylesheet_link_tag 'entries' %>

<h1>All Entries</h1>

 <%= will_paginate @posts %>
<div class="box">
<table id="all-entries">
 
  <% @entries.each do |entry| %>
    <tr>
      <td><%= entry.created_at.strftime("%b %d, %Y") %></td>
      <td><%= entry.body.truncate(30,separator: /\s/) %></td>
      <td><%= link_to 'View', entry_path(entry) %> | 
      <%= link_to 'Edit', edit_entry_path(entry) %> | 
      <%= link_to 'Delete', entry_path(entry),
              method: :delete,
              data: { confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
</table>

</div>